h1, h2, h3 {
  text-align: center;
  color: black;
}

p {
  font-size: 16px;
  color: black;
}

.author {
  text-align: center;
  color: black;  
}

.code-chunks {
  font-family: "Source+Code+Pro:wght@300";
}